body{
    background-color: #b8c6db;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.quiz-container{
    background-color: #fff;
    border-radius: 10px;
}